body{
    background-color:aliceblue;
}
#container{
    
}
#social1{
    float: left;
}
#menu1{
    float: right;
    font-size: 25px;
    padding: 5px;
}
.menu{
    text-decoration: none;
    color: black;
    border: solid;
    padding: 5px;
}
#logo{
    text-align: center;
    font-size: 80px;
    padding: 30px;
}
#search{
    text-align: center;
    font-size:20px;
    border: solid;
    margin-left: 93%;
    padding: 2px;
}
#menu2{
    font-size:30px;
    width: 100%;
    float: left;
}
.menu2{
    border-left: solid;
    color: black;
    padding: 3px;
    text-align: justify;
    width: 20%;
    float: left;
}
#new{
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}
.item{
    float: left;
    width: 20%;
}
#section1{
    width: 100%;
    float: left;
}
#bottom{
    width: 100%;
    float: left;
    border-top:solid;
    margin-top: 20px;
    padding: 3px;
}
#menus{
    float: left;
    width:75%
}
#menu3{
    float: left;
    width:33%
}
#contacts{
    float: left;
    width: 25%;
}